global: 
  sendAnonymousUsage: false
  checkNewVersion: false

entrypoints:
  web:
    address: ":80"
    http: 
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: ":443"

  traefik:
    address: ":8080"

log:
  level: DEBUG

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

api:
  insecure: true
  dashboard: true
