@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* General elements  */

h1 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #059669;    
}

p {
    font-size: 1rem;
    font-family: 'Helvetica';
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #9ca3af;
}

@keyframes fadeIn {
		0% {opacity: 0;}
		10% {opacity: 0.1;}
		30% {opacity: 0.3;}
		60% {opacity: 0.6;}
		100% {opacity: 1;}
}

@keyframes fadeInToHalf {
		0% {opacity: 0;}
		50% {opacity: 0.5;}
}

@keyframes loadingDots {
		0%   {content: "⠊⠑⠈⠊";}
		5%   {content: "⠜⠔⢄⠜";}
		10%  {content: "⡱⢅⢑⡱";}
		15%  {content: "⣑⣑⣑⣑";}
		20%  {content: "⣡⣡⣡⣡";}
		25%  {content: "⣤⣤⣤⣤";}
		30%  {content: "⣬⣬⣬⣬";}
		35%  {content: "⣵⣵⣵⣵";}
		40%  {content: "⣶⣽⣶⣽";}
		45%  {content: "⣿⣿⣿⣿";}
		50%  {content: "⣿⣿⣿⣿";}
		55%  {content: "⣿⣿⣿⣿";}
		60%  {content: "⣿⣿⣿⣿";}
		65%  {content: "⣮⣮⣮⣮";}
		70%  {content: "⣵⣵⣵⣵";}
		75%  {content: "⣕⣕⣕⣕";}
		80%  {content: "⡵⡵⡵⡵";}
		85%  {content: "⢑⡓⢑⡓";}
		95%  {content: "⠣⠣⠣⠣";}
		100% {content: "⠉⠉⠉⠉";}
}

@keyframes altchange {
		from { --gradient: 0%;}
		to { --gradient: 100%;}
}

@property --gradient {
		syntax: "<percentage>";
		inherits: true;
		initial-value: 0%;
}

.body {
		animation: fadeIn 100ms;
		color: white;
}

/* Whoami elements */

.player-true, 
.player-false {
		display: grid;
		grid: 
				'stars' 'stars'
				'icon' 'icon'
				'name' 'score';
		gap: 2px;
		padding: 4px;
		border-radius: 10px;
		min-width: 90px;
		width: min-content;
		background-image: conic-gradient(from 0deg, #084009 var(--gradient),#3f3f46 var(--gradient)); 
		transition: --gradient 0.5s ease-out;
		position: relative
}

.player-false {
		--gradient: 0%;
}

.player-true {
		--gradient: 100%;
}

.player-true:hover .remove_player {
		display: flex;
		animation: fadeInToHalf 0.3s ease-in-out
}

.player-false:hover .remove_player {
		display: flex;
		animation: fadeInToHalf 0.3s ease-in-out
}

.players {
		display: flex;
		flex-flow: row nowrap;
		gap: 10px;
}

.icon {
		justify-self: center;
}

.stars {
		justify-self: center;
		transform: scale(0.5);
}

.name {
		justify-self: center;
}

.score {
		justify-self: center;
}

.loading-dots {
		display: inline-block;
		text-align: center;
}

.loading-dots::after {
		content: " ";
		letter-spacing: -3px;
		animation: loadingDots 5s 1s steps(1) infinite;
}

.ready-false {
		background-color: #7c0400;
}

.ready-true {
		background-color: green;
}

.ready-false, .ready-true {
		height: 5vi;
		max-height: 80px;
		width: 40vi;
		border-radius: 2vi;
		align-self: center;
}

 .invite-block {
 		margin: 5vi;
		display: flex;
 		justify-self: center;
 		align-items: center;
 		padding: 15px 20px 15px 20px;
 		border-radius: 1vi;
 		background-color: oklch(0.4069 0.1158 279.94 / 40%);
 		width: fit-content;
 		gap: 2vi;
 }

.invite-link {
		padding: 15px 10px 10px 10px;
		text-align: center;
		border-width: 3px;
		border-color: #35530e;
		border-radius: 1vi;
		background-color: #27272a;
		transition: transform 100ms ease-out;
		user-select: none;
}

.invite-link:hover {
		border-color: #005403;
		background-color: #1a251c;
		transform: scale(1.05);
		transition: transform 100ms ease-in-out;
}

.invite-link:active {
		border-color: #2f5500;
		background-color: #11351b;
		transition: transform  100ms ease-out;
}

.remove_player {
		display: none;
		position: absolute;
		top: 15px;
		right: 10px;
		color: #222222;
		background-color: #a8a8a8;
		width: 30px;
		height: 30px;
		margin: -22px;
		border-radius: 7vi;
		transition: transform 50ms ease-in-out;
		opacity: 0.5;
		z-index: 500;
}

.remove_player:hover {
		background-color: #ff7975;
		transform: scale(1.1);
		opacity: 1;
		transition: transform 50ms ease-in-out
}

.remove_player:active {
		transform: scale(1.05);
		transition: transform 50ms ease-in-out
}

.remove_player svg {
		position: relative;
		height: 30px;
		width: 30px;
}

 /* control small screen elements */
@media screen and (max-width: 850px) {

/* Prettifier elements */
		.p_grid_q {
				display: grid;
				gap: 5px;
				grid: 	
						'expand expand expand'
						'expand expand expand'
						'fold fold btn-container';
				height: 70vh;
		}

		.p_grid_r {
				display: grid;
				gap: 5px;
				grid: 
						'fold fold btn-container'
						'expand expand expand'
						'expand expand expand';
				height: 70vh;
		}

		.btn-container {
				display: grid;
				grid-template-columns: auto auto;
				gap: 5px;
				justify-content: center;
				align-items: center;
		}

		.about {
				display: none;
		}

		.fold {
				grid-area: fold;
				width: 100%;
				height: 100%;
				border-radius: 1rem;
		}

		.expand {
				grid-area: expand;
				width: 100%;
				height: 100%;
				border-radius: 1rem;
		}

		/* Who am I */
		.field {
				display: flex;
				flex-flow: column wrap;
				justify-content: start;
				align-content: center;
				gap: 2vi;
				height: 90%;
				width: 100%;
				aspect-ratio: 9/16;
				border-radius: 1rem;
				padding: 2rem;
		}

		.players {
				
				border-color: #35530e;
				border-width: 3px;
				border-radius: 1vi;
				padding: 10px;
				width: 100%;
				overflow: auto;
		}
}

/* controls large screen elements */
@media screen and (min-width: 851px) {

/* Prettifier elements */
		.p_grid_q {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				width: 100%;
		}

		.p_grid_r {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				width: 100%;
		}

		.btn-container { 
				display: flex;
				flex-wrap: wrap; 
				flex-direction: column;
				gap: 5px;
				padding-top: 20%;
				align-items: center;
				justify-content: middle;
		}

		.fold {
				width: 20%; 
				height: 30rem;
				border-radius: 1rem;
		}

		.expand {
				width: 63%; 
				height: 30rem;
				border-radius: 1rem;
		}

		/* Who am I */
		.field {
				display: flex;
				flex-direction: column;
				justify-content: start;
				align-items: center;
				gap: 2vi;
				height: 90%;
				width: 100%;
				aspect-ratio: 16/9;
				border-radius: 1rem;
				padding: 2rem;
		}

		.players {
				width: 100%;
				border-color: #35530e;
				border-width: 3px;
				border-radius: 1vi;
				padding: 10px;
		}
}

@layer components {
		.vanilla-textbox {
				@apply bg-white rounded-xl text-gray-500 h-full w-full;
		}

		.valid-textbox {
				@apply p-3 bg-white rounded-xl h-full w-full shadow-xl 
				shadow-lime-400/30 ring ring-lime-400/60 
				whitespace-pre-wrap overflow-scroll;
		}

		.parsed-textbox {
				@apply p-3 bg-white rounded-xl h-full w-full
                shadow-xl shadow-[#4287f5] ring ring-[#4287f5]
                whitespace-pre-wrap overflow-scroll;
		}

		.error-textbox {
				@apply p-3 bg-white rounded-xl h-full w-full
                shadow-xl shadow-red-400/30 ring ring-red-400/60
                whitespace-pre-wrap overflow-scroll;
		}
}
