@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

h1 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #059669;    
}

p {
    font-size: 1rem;
    font-family: 'Helvetica';
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #9ca3af;
}
