/* tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* prettifier elements */
@import "./prettifier/prettifier.css";

/* elements for whoami */
@import "./whoami/player_bar.css";
@import "./whoami/arena.css";
@import "./whoami/whoami.css";
@import "./stathunter.css";

/* General elements  */

h1 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #059669;
}

p {
    font-size: 1rem;
    font-family: 'Helvetica';
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #9ca3af;
}

.body {
		animation: fadeIn 100ms;
		color: white;
		min-height: 75svh;
		max-height: fit-content;
		transition: height 1s 0.5s;
}

.ping {
		padding: 30px;
		margin: 30px;
		justify-self: center;
		align-self: center;
		height: fit-content;
		width: fit-content;
		background-color: #002f00;
		border-radius: 10px
}

.text-fade {
		animation: fadeIn ease-in-out 200ms forwards;
		text-align: center;
		margin-top: 15px;
}

.main {
		height: fit-content;
		display: grid;
		place-items: center
}

@layer components {
		.vanilla-textbox {
				@apply bg-white rounded-xl text-gray-500 h-full w-full;
		}

		.valid-textbox {
				@apply p-3 bg-white rounded-xl h-full w-full shadow-xl 
				shadow-lime-400/30 ring ring-lime-400/60 
				whitespace-pre-wrap overflow-scroll;
		}

		.parsed-textbox {
				@apply p-3 bg-white rounded-xl h-full w-full
                shadow-xl shadow-[#4287f5] ring ring-[#4287f5]
                whitespace-pre-wrap overflow-scroll;
		}

		.error-textbox {
				@apply p-3 bg-white rounded-xl h-full w-full
                shadow-xl shadow-red-400/30 ring ring-red-400/60
                whitespace-pre-wrap overflow-scroll;
		}
}
