@keyframes rotate {
		from {
				rotate: 0deg
		}
		to {
				rotate: 180deg
		}
}

@media screen and (max-width: 900px) {
		.search-container {
				display: grid;
				gap: 0;
				width: 85svw;
				height: 2.5rem;
				margin-right: 25px;
				min-width: 400px;
				justify-content: start;
		}

		.search-container.htmx-request {
				opacity: 0.5;
				pointer-events: none;
				user-select: none;
				transition: opacity 0.1s;
				z-index: 10;
		}

		.search-bar {
				grid-row: 1;
				grid-column: 1;
				background-color: #512000;
				border-color: #313131;
				border-width: 2px 0px 2px 2px; 
				width: 75svw;
				min-width: 325px;
				height: 2rem;
				border-radius: 10px 0px 0px 10px;
				font-family: monospace;
				font-size: 1rem;
				text-align: start;
				z-index: 10;
				position: relative;
				caret-color: antiquewhite;
				caret-shape: block;
				align-self: center;
		}

		.search-bar:focus {
				border-color: #313131;
				background-color: #471600;
				outline: none;
				box-shadow: none;
				transition: background-color 100ms;
				z-index: 10;
		}


		#search-button {
				grid-row: 1;
				grid-column: 2;
				position: relative;
				justify-self: end;
				align-self: center;
				line-height: 1;
				z-index: 20;
				height: 2rem;
				width: 10svw;
				text-align: justify;
				border-radius: 0 10px 10px 0;
				border-color: #313131;
				border-width: 2px 2px 2px 0; 
		}


		#search-results table {
				position: relative;
				border-collapse: collapse;
				border-radius: 10px;
				overflow: scroll;
				letter-spacing: 1px;
				min-width: 300px;
				background-color: #303030;
				height: fit-content;
				z-index: 1;
		}

		#search-results td {
				text-align: center;
				padding: 5px;
				width: 90svw;
		}

		#search-results tr {
				padding: 5px 10px 5px 10px;
				background-color: #2e2e2e;
				justify-content: space-between;
		}

		#search-results tr:hover, #search-results tr:nth-of-type(even):hover {
				background-color: #51200054;
				transition: all 10ms;
		}

		#search-results tr:nth-of-type(even) {
				background-color: #2a2a2a;
		}

		#search-results img#avatar {
				border-radius: 100%;
		}

		#search-results {
				position: relative;
				display: flex;
				justify-content: center;
				overflow: hidden;
				opacity: 1;
				border-radius: 10px;
				letter-spacing: 1px;
				width: 85svw;
				min-width: 400px;
				max-width: 1280px;
				z-index: 1 !important;
				transition: 
						top 1s ease-in,
						opacity 1s ease-in;
				border-radius: 10px;
		}

		#search-results.htmx-added {
				top: -4rem;
				z-index: 1;
				opacity: 0;
		}

		#search-results.htmx-swapping {
				top: -3rem;
				z-index:1
		}

		#loading {
				position: absolute;
				display: flex;
				justify-content: center;
				align-content: center;
				backdrop-filter: blur(4px);
				top: 10svh;
				left: 5svw;
				width: 90svw;
				height: 70svh;
				z-index: 100;
				padding-top: 200px;
				background-color: red 30%;
				transition: opaticy 0.5s;
		}
		
		#loading svg {
				animation: 0.7s linear 0s infinite forwards rotate;
		}
}

#lupa {
		display: none
}
		
@media (max-width: 723px) {
		.search-text span {
				display: none
		}

		.search-text #lupa {
				display: flex;
				font-size: x-large;
				line-height: 0.9rem;
		}
}

@media screen and (min-width: 900px) {
		.search-bar {
				background-color: #512000;
				border-color: #313131;
				border-width: 2px; 
				align-self: center;
				justify-self: center;
				width: 50%;
				min-width: 300px;
				height: 4rem;
				border-radius: 10px 0px 0px 10px;
				border-width: 2px 0px 2px 2px; 
				font-family: monospace;
				font-size: 1.5rem;
				text-align:start;
				z-index: 10;
				position: relative;
				caret-color: antiquewhite;
				caret-shape: block;
		}

		.search-bar:focus {
				border-color: #313131;
				background-color: #471600;
				outline: none;
				box-shadow: none;
				transition: background-color 100ms;
				z-index: 10;
		}

		#search-button {
				position: relative;
				z-index: 20;
				height: 4rem;
				width: 10%;
				min-width: 75px;
				border-radius: 0 10px 10px 0;
				border-color: #313131;
				border-width: 2px 2px 2px 0; 
		}

		.search-container {
				display: flex;
				position: relative;
				left: 20%;
		}

		.search-container.htmx-request {
				opacity: 0.5;
				pointer-events: none;
				user-select: none;
				transition: opacity 0.1s;
				z-index: 10;
		}

		#loading {
				position: absolute;
				top: 13svh;
				left: 15svw;
				animation: 0.7s linear 0s infinite forwards rotate;
		}

		.htmx-indicator .htmx-request,
		.htmx-indicator.htmx-request {
				opacity: 1;
				transition: opacity 0.2s;
		}

		#search-results table {
				position: relative;
				border-collapse: collapse;
				border-radius: 10px;
				overflow: scroll;
				letter-spacing: 1px;
				width: 60%;
				min-width: 300px;
				background-color: #313131;
				height: fit-content;
				z-index: 1;
		}

		#search-results td {
				text-align: center;
				width: calc(60%/4);
				padding: 5px;
		}

		#search-results tr {
				padding: 5px 10px 5px 10px;
				justify-content: space-between;
				width: 100%;
		}

		#search-results tr:hover, #search-results tr:nth-of-type(even):hover {
				background-color: #51200054;
				transition: all 10ms;
		}

		#search-results tr:nth-of-type(even) {
				background-color: #2a2a2a;
		}

		#search-results img#avatar {
				border-radius: 100%;
		}

		#search-results {
				position: relative;
				overflow: hidden;
				left: 20%;
				opacity: 1;
				border-radius: 10px;
				letter-spacing: 1px;
				width: 60%;
				padding-top: 15px;
				text-align: center;
				z-index: 1 !important;
				transition: top 1s ease-out;
				border-radius: 10px;
		}

		#search-results.htmx-added {
				top: -4rem;
				z-index:1
		}

		#search-results.htmx-swapping {
				top: -3rem;
				z-index:1
		}
}

