<div
  class="main"
  id="main"
  hx-get={~p"/speed-test/ping?#{%{"value" => @value}}"}
  hx-trigger="load delay:3s"
  hx-swap="innerHTML"
>
  <p>
    this page uses htmx to reload the element below. <br />
    The server generates a timestamp on first load, that is then passed to the repeated pings inside the
    element below, which is patched with the difference between current time in the server and previous time
    in the request parameter. Idea is that it does not depend on the client to calculate the round trip, but
    then a single leg of the trip might take more time than the other and it also accounts for load time and
    whatnot. So take it with a grain of salt. But, nonetheless, it exists!
  </p>
  <div id="result" class="ping">
    <%= cond do %>
      <% @diff > 0 && is_integer(@diff) -> %>
        your ping to the server is: <br />
        <div class="text-fade">
          {Integer.to_string(@diff)} ms
        </div>
      <% true -> %>
        loading...
    <% end %>
  </div>
</div>
