name: Test, push and deploy

on: 
  release:
    types: [published]

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    env:
      ImageOS: ubuntu22

    steps:
    - uses: actions/checkout@v4

    - name: login to dockerhub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKERHUB_PAT }}

    - name: get metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: bernardocorais/test-repo
        flavor: |
          latest=false
        tags: |
          type=semver,pattern=portal-{{version}}

    - name: build and push
      id: push
      uses: docker/build-push-action@v5
      with:
        context: . 
        file: ./Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
      
    - name: sync configuration files
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.DEPLOY_KEY }}
        port: ${{ secrets.SSH_PORT }}
        source: "docker-compose.yml,traefik.yml,vmagent.yml,grafana-provisioning/datasources/datasources.yml"
        target: /home/deploy

    - name: deploy containers
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.DEPLOY_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd /home/deploy
          docker compose pull
          docker system prune -f
          docker compose up -d --remove-orphans
